    <div class="row">
      <div class="col-sm-6">
        <div class="rating-block">
          <h4>
            <%= @movie.title %>
            <% if @movie.genre %>
              <small>
                <span class="label label-info">
                  <%= @movie.genre %>
                </span>
              </small>
              &nbsp;
            <% end %>

            <% if @movie.year %>
              <small>
                <span class="label label-danger">
                  <%= @movie.year.strftime('%Y') %>
                </span>
              </small>
              &nbsp;
            <% end %>

            <% if @movie.price %>
              <small>
                <span class="label label-success">
                  $<%= @movie.price / 100.0 %>
                </span>
              </small>
            <% end %>
          </h4>
          <p class="card-text"><%= @movie.studio %></p>
          <div class='total_rating'>
            <%= render 'total_rating' %>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class='breakdown'>
          <%= render 'breakdown' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <hr/>
        <div class="review-block">
          <div class="row">
            <div class="col-sm-12">
              <%= bootstrap_form_tag url: [@movie, :comments], remote: true, html: { id: 'comment_form' } do |f| %>
                <%= f.text_area 'comment[body]', label: 'Leave Your Feedback', id: 'comment_body' %>
                <%= f.hidden_field 'comment[movie]', value: @movie.uuid %>
              <% end %>
              <p class="help-block">Press Enter to send</p>
              <hr/>
            </div>
          </div>
          <div class='comments'>
            <%= render 'comments' %>
          </div>
        </div>
      </div>
    </div>